
  
<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/categories">EcomDemo</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink="/categories">Home</a></li>
      
      <li><a routerLink="/produits">Products</a></li>
    </ul>
    <ul *ngIf="!(user|async)" class="nav navbar-nav navbar-right">
      <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/membres/connexion"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul *ngIf="(user|async)" class="nav navbar-nav navbar-right">
      <li><a  routerLink="/cart"><i class="fas fa-shopping-cart"></i>
        
      </a></li>
      <li><a>{{user | async}}
        
      </a></li>
      <li><a  (click)="deconnexion()"><i class="fas fa-sign-out-alt"></i>Logout
        
      </a></li>
     

    </ul>
  </div>
</nav>

